 <div id="params_pop-up">
        <div id="params_pop-up_top_section">
            <h2>Paramètres</h2>
            <i id="params_pop-up_close" class="fa-solid fa-xmark"></i>
        </div>
        <div id="params_pop-up_main_section">
            {#  #}
            <form id="paramsForm" method="post" action="{{ path('app_home_params') }}">
                <h3>Notification par mail</h3> 
                <div class="params_pop-up_row">
                    <input type="hidden" name="homeworkReminder" value="{{ homeworkReminder ? 'on' : 'off' }}" />
                    <i class="fa-solid {% if homeworkReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" id="homeworkToggle"></i>
                    <p>Rappels des devoirs à rendre</p>
                </div>
                <div class="params_pop-up_row">
                    <input type="hidden" name="examReminder" value="{{ examReminder ? 'on' : 'off' }}" />
                    <i class="fa-solid {% if examReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" id="examToggle"></i>
                    <p>Rappels des examens</p>
                </div>
                <div class="params_pop-up_row">
                    <input type="hidden" name="newReminder" value="{{ newReminder ? 'on' : 'off' }}" />
                    <i class="fa-solid {% if newReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" id="newToggle"></i>
                    <p>Nouveaux éléments</p>
                </div>
                <div class="params_pop-up_row">
                    <input type="hidden" name="modifReminder" value="{{ modifReminder ? 'on' : 'off' }}" />
                    <i class="fa-solid {% if modifReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" id="modifToggle"></i>
                    <p>Modification d'un évènement</p>
                </div>
                <hr>
                <h3>Confidentialité</h3> 
                <div class="params_pop-up_row">
                    <input type="hidden" name="cookies" value="{{ cookies ? 'on' : 'off' }}" />
                    <i class="fa-solid {% if cookies %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" id="cookiesToggle"></i>
                    <p>Cookies</p>
                </div>
                <div id="params_pop-up_bottom_section">
                    <input type="button" id="params_pop-up_saveButton" value="Enregistrer" />
                </div>
            </form>
            {#  #}
            {# <form method="post" action="{{ path('app_home') }}">
                <div class="params_pop-up_row">
                    <input type="hidden" name="homeworkReminder" type="button" value="{{ homeworkReminder }}" />
                    <i class="fa-solid {% if homeworkReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" onclick="document.forms[0].submit();"></i>
                    <p>Rappels des devoirs à rendre</p>
                </div>
            </form> #}
            {# <div class="params_pop-up_row">
                <i class="fa-solid fa-toggle-off"></i>
                <p>Rappels des devoirs à rendre</p>
            </div> #}
            {# <form method="post" action="{{ path('app_home') }}">
                <div class="params_pop-up_row">
                    <input type="hidden" name="examReminder" value="{{ examReminder }}" />
                    <i class="fa-solid {% if examReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" onclick="document.forms[1].submit();"></i>
                    <p>Rappels des examens</p>
                </div>
            </form> #}
            {# <div class="params_pop-up_row">
                <i class="fa-solid fa-toggle-off"></i>
                <p>Rappels des examens</p>
            </div> #}
            {# <form method="post" action="{{ path('app_home') }}">
                <div class="params_pop-up_row">
                    <input type="hidden" name="newReminder" value="{{ newReminder }}" />
                    <i class="fa-solid {% if newReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" onclick="document.forms[2].submit();"></i>
                    <p>Nouveaux éléments</p>
                </div>
            </form> #}
            {# <div class="params_pop-up_row">
                <i class="fa-solid fa-toggle-off"></i>
                <p>Nouveaux éléments</p>
            </div> #}
            {# <form method="post" action="{{ path('app_home') }}">
                <div class="params_pop-up_row">
                    <input type="hidden" name="modifReminder" value="{{ modifReminder }}" />
                    <i class="fa-solid {% if modifReminder %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" onclick="document.forms[3].submit();"></i>
                    <p>Modification d'un évènement</p>
                </div>
            </form> #}
            {# <div class="params_pop-up_row">
                <i class="fa-solid fa-toggle-off"></i>
                <p>Modification d'un évènement</p>
            </div> #}
            {# <hr>
            <h3>Confidentialité</h3> 
            <form method="post" action="{{ path('app_home') }}">
                <div class="params_pop-up_row">
                    <input type="hidden" name="cookies" value="{{ cookies }}" />
                    <i class="fa-solid {% if cookies %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" onclick="document.forms[4].submit();"></i>
                    <p>Cookies</p>
                </div>
            </form> #}
            {# <div class="params_pop-up_row">
                <i class="fa-solid fa-toggle-off"></i>
                <p>Cookies</p>
            </div> #}
        </div>      
    </div>