{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            console.log('Document ready');
            // Initialisation : Cache le formulaire
            $('#createCardFormContainer').hide();



            // Charge le formulaire de création de carte en AJAX
            $.get('{{ path('create_cards') }}', function(response) {
                $('#createCardFormContainer').html(response);
            });

            // Ajoute un gestionnaire d'événement pour le clic sur le bouton
            $('#toggleCreateCardForm').click(function() {
                $('#createCardFormContainer').toggle();
                $('.items').toggle();
                $('#side-list_title').toggle();
                console.log('End of document ready');

            });

        });

    </script>
    {#<h1>Votre nom : {{ username }} / {{ name }} / {{ firstname }} / {{ email }}</h1>#}

    {% include 'components/header.html.twig' %}

    <main class="main">
        <div id="calendar" data-url="{{ path('app_calendar_data') }}"></div>
        <div id="section-right">
            <div class="side-list">
                <button id="toggleCreateCardForm">Créer une carte-------------------</button>
                <div id="createCardFormContainer" class="card">

                </div>
                <div id="side-list_title">
                    <h2>À Venir</h2>
                </div>
                <div class="items">
                    {% for item in cardData %}
                        <div class="item {% if item.card.getIsValidated == 0 %} notvalidated {% endif %}"
                             style="border-left-color: {{ item.typeColor }} !important;">
                            <p class="card-id">{{item.card.getId}}</p>
                            <p class="type-id">{{item.card.getCrdTyp.getId}}</p>
                            <div class="time">
                                <p class="date">
                                    {% if item.card.getCrdFrom is not null %}
                                        Du {{ item.card.getFormattedCrdFrom }} <br> Au
                                    {% endif %}
                                    {{ item.card.getFormattedCrdTo }}
                                </p>
                                <div class="time_left">
                                    <i class="fa-solid fa-hourglass-half" style="color:{{ item.timeColor }}"></i>
                                    <p class="days">{{ item.card.getTimeLeft|raw }}</p>
                                </div>
                            </div>
                            <div class="subject">
                                <p class="tag"
                                   style="border-color: {{ item.typeColor }}; background-color: {{ item.typeColor }}20">{{ item.typeName }}</p>
                                <h3>{{ item.card.getCrdTitle }}</h3>
                                <p class="course">{{ item.subjectName }}</p>
                            </div>
                            {% if item.typeName is same as('rendu') %}
                                <!--<div class="status">
                                    <i class="fa-regular fa-square"></i>
                                    <p>À Rendre</p>
                                </div>-->
                                <div class="status">
                                    <i class="fa-regular fa-square-check"></i>
                                    <p>Rendu</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="details">

            </div>
        </div>
    </main>
{% endblock %}
