{% if detailsCard %}
    {% for item in detailsCard %}
        <div class='detail--back'>
            <button id="back"><i class="fa-solid fa-arrow-right-long"></i></button>
            <p class='tag'
               style='border-color: {{ item.typeColor }}; background-color: {{ item.typeColor }}20'>{{ item.typeName }}</p>
        </div>

        <div class='detail--title'>
            <h2>{{ item.card.getCrdTitle() }}</h2>
            <div class="detail--title--under">
                <div class="time_left">
                    {% if item.card.getTimeLeft is not same as 'Terminé' %}
                        <i class="fa-solid fa-hourglass-half" style="color:{{ item.timeColor }}"></i>
                    {% endif %}
                    <p class="days">{{ item.card.getTimeLeft|raw }}</p>
                </div>
            </div>
        </div>

        <div style="background-color: white">
            <div>
                <div>
                    <div>
                        <p><i class="fa-solid fa-book"></i> Matière</p>
                        <p>{{ item.subjectName }}</p>
                </div>
            </div>
        </div>

        <div class='detail--content {{ item.card.getIsValidated() ? '' : 'notvalidated' }}'
             style='border-left: solid 6px {{ item.typeColor }};'>
            <div class='detail--content--time'>
                <div class='detail--content--time--left detail--content--format'>
                    <p class='detail--content--format-t'><i class="fa-solid fa-calendar-days"></i> Date</p>
                    {% if item.card.getCrdFrom %}
                        <p class='detail--content--format-c'>
                            Du {{ item.card.getFormattedCrdFrom }}<br>
                            Au {{ item.card.getFormattedCrdTo }}
                        </p>
                    {% else %}
                        <p class='detail--content--format-c'>Le {{ item.card.getFormattedCrdTo }}</p>
                    {% endif %}
                </div>
                <div class='detail--content--time--right double-button'>
                    <button class='double-button__item'><i class="fa-solid fa-pen"></i>Modifier</button>
                    <button class='double-button__item signalement'><i class="fa-solid fa-flag"></i></button>
                </div>
            </div>
            <div class='detail--content--subject detail--content--format'>
                <p class='detail--content--format-t'><i class="fa-solid fa-book"></i>Matière</p>
                <p class='detail--content--format-c'>{{ item.subjectName }}</p>
            </div>
            {% if  item.card.getCrdDesc %}
                <div class='detail--content--description detail--content--format'>
                    <p class='detail--content--format-t'><i class="fa-solid fa-paragraph"></i> Description</p>
                    <p class='detail--content--format-c'>{{ item.card.getCrdDesc }}</p>
                </div>
            {% endif %}
            <div class='detail--content--links detail--content--format'>
                <p class='detail--content--format-t'><i class="fa-solid fa-link"></i> Liens</p>
                <p class='detail--content--format-c' style="color:red;">A FAIRE</p>
            </div>
            <div class='detail--content--done status'>
                <i class="fa-regular fa-square"></i>
                <p>Rendu</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
