<header class="header">
    <img src="{{ asset('images/logo.svg') }}" alt="logo iut">
    <div class="header-menu">
        <div class="notif">
            <i class="fa-solid fa-bell"></i>
            {% if notifNotSeen is not empty %}
                <div class="notif-dot" style="display: {{ shouldNotify ? '' : 'block' }}"></div>
            {% endif %}
            <div class="active-hover"></div>
            {% include 'components/notif_dropdown.html.twig' %}
        </div>
        <div class="userCard">
            <img class="userCard__image" src="{{ asset('images/users/' ~ username ~ '.jpg') }}" alt="photo de profil">
            <div class="userCard-content">
                <p class="userCard__name">
                    Bienvenue<br>
                    <span>{{ firstname }} {{ lastname }}</span>
                </p>
            </div>
            <div class="active-hover"></div>
            {% include 'components/userCard_dropdown.html.twig' %}
        </div>
    </div>

    <script src="{{ asset('/js/notifications.js') }}"></script>
</header>